body {
  background: #eef2f3;
  font-family: Arial;
}

.quiz-box {
  width: 420px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

button {
  margin-top: 15px;
  padding: 8px 15px;
}